
<html lang="en">
<head>
  <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
  <div class="container mx-auto py-16">
    <div class="text-4xl text-center text-gray-800" id="counter">
      {{ current_time|date:"H:i:s" }}
    </div>
    <div class="mx-auto py-4">
      <button hx-get="/counter/" hx-swap="outerHTML" hx-target="#counter" class="btn btn-blue" id="start">
        Start
      </button>
      <button hx-post="/stop/" hx-swap="outerHTML" hx-target="#counter" class="btn btn-red" id="stop">
        Stop
      </button>
    </div>
  </div>
</body>
</html>

