<!DOCTYPE html>
<html>
<head>
	<title>Password Strength Meter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.1.2/dist/tailwind.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<style>
		progress[value] {
			-webkit-appearance: none;
			appearance: none;
			height: 10px;
			width: 100%;
			border-radius: 5px;
			background-color: #ddd;
			overflow: hidden;
		}
		
		progress[value]::-webkit-progress-bar {
			height: 10px;
			border-radius: 5px;
			background-color: #ddd;
		}
		
		progress[value]::-webkit-progress-value {
			height: 10px;
			border-radius: 5px;
			background-color: #4CAF50;
		}
		
		progress[value]::-moz-progress-bar {
			height: 10px;
			border-radius: 5px;
			background-color: #4CAF50;
		}
	</style>
	
</head>
<body class="bg-gray-200">
	<div class="max-w-md mx-auto my-4 p-4 bg-white shadow-lg rounded-lg">
		<form method="POST">
			{% csrf_token %}
			<div class="mb-4">
				<label for="password" class="block text-gray-700 font-bold mb-2">Password:</label>
				<input type="password" id="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
			</div>
		</form>
		<div id="password-strength" class="hidden">
		<label for="strength-meter" class="block text-gray-700 font-bold mb-2">Password Strength:</label>
		<progress id="strength-meter" value="0" max="4" class="w-full h-2 bg-gray-300 rounded">
		</progress>
			<p id="strength-text" class="text-sm mt-1"></p>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#password').on('input', function() {
			  // Show password strength field
			  $('#password-strength').removeClass('hidden');
		  
			  // Password strength calculation code
			  var password = $(this).val();
			  $.ajax({
				url: '/validate_password_strength/',
				method: 'POST',
				data: {password: password},
				success: function(data) {
				  // Password is strong enough
				  var strength_score = data.score;
				  console.log(data['strength'])
				  var strength_text = data.strength;
				  var progress_value = data['score']
				  console.log(progress_value)
		  
				  if (isFinite(progress_value)) {
					$('#strength-meter').val(progress_value);
				  }
				  if (data['score'] == 4) {
					$('#strength-text').text(strength_text).removeClass('text-red-500 text-yellow-500 text-green-500').addClass('text-purple-500');
					$('#strength-meter').removeClass('bg-red-500 bg-yellow-500 bg-green-500').addClass('bg-purple-500');
				  } else if (data['score'] == 1) {
					$('#strength-text').text(strength_text).removeClass('text-red-500 text-yellow-500 text-green-500').addClass('text-yellow-500');
					$('#strength-meter').removeClass('bg-red-500 bg-purple-500 bg-green-500').addClass('bg-yellow-500');
				  } else if (data["score"] == 0) {
					$('#strength-text').text(strength_text).removeClass('text-red-500 text-yellow-500 text-green-500').addClass('text-red-500');
					$('#strength-meter').removeClass('bg-yellow-500 bg-purple-500 bg-green-500').addClass('bg-red-500');
				  } else if (data["score"] == 2){
					$('#strength-text').text(strength_text).removeClass('text-red-500 text-yellow-500 text-green-500').addClass('text-pink-500');
					$('#strength-meter').removeClass('bg-red-500 bg-yellow-500 bg-green-500').addClass('bg-pink-500');
				  } else if (data["score"] == 3){
					$('#strength-text').text(strength_text).removeClass('text-red-500 text-yellow-500 text-green-500').addClass('text-blue-500');
					$('#strength-meter').removeClass('bg-red-500 bg-yellow-500 bg-pink-500').addClass('bg-blue-500');
				  }
		  
				},
		  
			  });
			});
		  });
		  
		</script>
</body>		  
</html>