<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
  </head>
  <body class="bg-gray-300 h-screen flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg p-6">
      <h1 class="text-2xl font-bold mb-2">Time Counter</h1>
      <form method="post" action="/start">
        {% csrf_token %}
        <button type="submit" class="btn bg-blue-500 text-white font-bold py-2 px-4 rounded-full">
          Start
        </button>
      </form>
      <form method="post" action="/reset/">
        {% csrf_token %}
        <button type="submit" class="btn bg-red-500 text-white font-bold py-2 px-4 rounded-full">
          Reset
        </button>
      </form>
    </div>
  </body>
</html>
